GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_API_KEY=your-gemini-api-key
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=us-central1
LENS_MOSAIC_COLLECTION_ID=mercari1m-collection-mm2
LENS_MOSAIC_GEMINI_EMBEDDING_MAX_RPM=1500
LENS_MOSAIC_SIMILAR_SEARCH_WORKERS=100
